.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;

  .albums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    margin: 20px auto;
  }

  .album {
    margin: 20px 10px 30px 10px;
    min-width: 300px;
    max-width: 350px;
  }
}
