$dark-body-color: #111;
$base-body-color: #444;
$light-body-color: #777;

$active-color: #9055a2;
$border-color: #e1e1e1;

$light-bg-color: #f7f7f7;
$accent-bg-color: #f9f9f9;

$nav-hover-border-color: #646464;
$nav-hover-bg-color: #f3f3f3;
$nav-text: #6c6c6c;

$box-shadow-high: #646464;
$box-shadow-low: #464646;
$btn-box-shadow-high: #828282;
$btn-box-shadow-low: #464646;

$title-text-color: #363636;
$link-text-color: #646464;
$base-text-color: #363636;
$header-text-color: #363636;
$error-text: #c84c36;

$default-btn-color: #6f6f6f;
$highlight-btn-color: #6b6cf6;
$highlight-btn-txt-color: #fff;

$footer-links-color: #c84c36;
