@import '__variables';

.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
}

.form-content {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;

  form {
    max-width: 500px;
    width: 100%;
    //    margin: 10px 0;
    margin: 0 auto;
    padding: 20px 0;
    border-top: 1px solid $border-color;
  }

  .title {
    font-size: 1.9rem;
    text-align: center;
    color: $title-text-color;
    padding-bottom: 16px;
    margin-bottom: 0;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .btn-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;

    button {
      margin-right: 20px;
    }
  }

  .btn-group-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    justify-content: center;
    border-top: 1px solid $border-color;

    .btn-long {
      margin: 10px auto;
      width: 300px;
    }
  }


  input, textarea {
    width: 100%;
    max-width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $border-color;
    box-sizing: border-box;
    transition: box-shadow .15s;
    font-size: 1.25rem;

    &:focus {
      box-shadow: 0 4px 8px $btn-box-shadow-high;
    }
  }

  .text-danger {
    display: block;
    border: 1px solid $error-text;
    text-align: center;
    color: $error-text;
    font-size: 1.25rem;
    padding: 20px 0;
  }

  button {
    background-color: #6b6cf6;
    color: white;
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    font-size: 1.25em;
    box-shadow: 0 1px 3px #464646;
    transition: box-shadow .15s;
    max-width: 60%;

    &:hover {
      text-decoration: underline;
      box-shadow: 0 7px 15px $btn-box-shadow-high;
    }

    &:active {
      box-shadow: 0 1px 3px $btn-box-shadow-low;
    }
  }
}
