<nav class="nav-bar-content">
  <div class="site-nav">
    <ul>
      <li class="site-link" *ngFor="let navlink of routerlinks">
        <button routerLink={{navlink.slug}}>
          <span class="text">{{navlink.text}}</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="right-menu">
    <ul>
      <li class="site-link" *ngIf="!(user|async)?.uid">
        <button routerLink="/login" class="">
          <span class="text">Log In</span>
        </button>
      </li>
      <li class="site-link" *ngIf="(user|async)?.uid">
        <button href="#" (click)="logOut()" class="">
          <span class="text">Log Out</span>
        </button>
      </li>
    </ul>
  </div>
</nav>
