  <nav class="nav-bar-content">
      <ul class="site-nav">
        <li class="site-link" *ngFor="let navlink of routerlinks">
          <button routerLink={{navlink.slug}}>{{navlink.text}}</button>
        </li>
      </ul>
      <ul class="right-menu">
        <li class="nav-item" *ngIf="!(user|async)?.uid">
          <a routerLink="/login" class="">Log In</a>
        </li>
        <li class="site-link" *ngIf="(user|async)?.uid">
          <a href="#" (click)="logOut()" class="">Log Out</a>
        </li>
      </ul>
  </nav>
