ul {
  padding: 0;
  width: 1200px;
  margin: 20px auto;
}

li {
  display: inline;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tn {
  margin: 6px;
  border: 4px solid #eee;
  box-shadow: #555 1px 1px 8px 1px;
  cursor: pointer;
  width: 300px;
  min-width: 200px;
  min-height: 200px;
}
