.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;

  .nav-header {
    top: 0;
    width: 100%;
  }

  .content {
    flex: 1 0 auto;
    padding-bottom: 2.5rem;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer {
    flex-shrink: 0;
    position: relative;
    bottom: 0;
    width: 90%;
    margin: 0 auto;
  }
}
