<div class="container">
  <h2 class="heading">Upload New Images</h2>
  <div class="form-group">
    <input class="form-control" placeholder="Gallery Folder" />
  </div>
  <div class="form-group">
    <input class="form-control-file" type="file" (change)="handleFiles($event)" multiple />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="uploadFiles()" [disabled]="upload || !files">Upload Images</button>
  </div>
  <div *ngIf="upload">
    <div class="progress">
      <div class="progress-bar progress-bar-animated" [ngStyle]="{'width': upload?.progress + '%'}"></div>
    </div>
  </div>
</div>
