<div class="container">
  <h2 class="heading">Upload New Images</h2>
  <form [formGroup]="albumForm">
    <select class="form-control padding" formControlName="albumOptions" [compareWith]="compareFn">
      <option [ngValue]="album.name" *ngFor="let album of albums | async">{{album.name}}</option>
      <option [ngValue]="'addAlbum'">Add Album</option>
    </select>
    <div class="form-inline padding" *ngIf="albumForm.get('albumOptions').value == 'addAlbum'">
      <input class="form-control"  placeholder="Photo Album" />
      <button class="form-control btn-inline" (click)="addAlbum()">Add Album</button>
    </div>
  </form>
  <div class="form-group padding">
    <input class="form-control-file" type="file" (change)="handleFiles($event)" multiple />
  </div>
  <div class="form-horizontal padding">
    <button class="btn btn-primary" (click)="uploadFiles()" [disabled]="upload || !files">Upload Images</button>
  </div>
  <ngb-progressbar *ngIf="upload" showValue="true" type="" [value]="upload?.progress"></ngb-progressbar>
</div>
