<div class="row">
  <div class="col-md-12 data-container">
    <p> Image ID: {{imageData.$key}}</p>
    <p> Views: {{imageData.totalViews}}</p>
    <div class="user-data" *ngFor="let data of imageData.userViews">
      <p> User: {{data.user}}</p>
      <p> Views: {{data.viewCount}}</p>
      <p> Longest Time: {{data.longestView}}</p>
      <p> Recent Time: {{data.recentView}}</p>
      <p> Last View: {{data.lastViewDate | date: dateFormat}}</p>
      <p> First View: {{data.firstViewDate | date: dateFormat}}</p>
    </div>
  </div>
</div>
