<div class="container">
  <h2 class="heading">Submit Content</h2>
  <div class="submit-form padding" ([ngModel])="selected">
    <div class="form-group padding">
      <label class="form-inline" for="browse"> Select Photos: </label>
      <input class="form-control-file" id="browse" type="file" (change)="handleFiles($event)" multiple />
      <div *ngIf="imagePreviewSrc">
        <img *ngFor="let image of imagePreviewSrc" class="img-preview" [src]="image" />
      </div>
    </div>
    <div class="form-horizontal padding">
      <button class="btn btn-primary" (click)="submitFiles()" [disabled]="upload || !files">Submit Images</button>
    </div>
    <ngb-progressbar *ngIf="upload" showValue="true" type="" [value]="upload?.progress"></ngb-progressbar>
  </div>
</div>
