<div class="row">
  <div class="col-md-12 back-row">
    <a class="back-btn" [routerLink]="['/album', album.name , album.$key]">
      {{album.name}}
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="img-bg">
        <img src="{{imageUrl}}" class="img-container" (click)="onClickEvent($event)" (contextmenu)="onRightClick($event)" oncontextmenu="return false"/>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 caption-row">
    <span id="caption">
      Image Caption
    </span>
  </div>
</div>
