<div class="row">
  <div class="col-md-12 back-row">
    <a class="back-btn" [routerLink]="['/album', album.name , album.$key]">
      {{album.name}}
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="img-bg">
        <img src="{{imageUrl}}" class="img-container" appOnlyImgClick oncontextmenu="return false"/>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 caption-row">
    <span id="caption">
      Image Caption
    </span>
  </div>
</div>
<div class="row">
  <app-image-data [imageData]="imageData"></app-image-data>
</div>
